<%= form_for @profile, url: {action: "create"}, html: {'data-toggle' => "validator"} do |f| %>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.first_name') %></label>
    <%= f.text_field :first_name, required: true, class: 'form-control'%>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.second_name') %></label>
    <%= f.text_field :second_name, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.first_last_name') %></label>
    <%= f.text_field :first_last_name, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.second_last_name') %></label>
    <%= f.text_field :second_last_name, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.birth_date') %></label>
    <%= f.date_field :birth_date, required: true, class: 'form-control', pattern: "^[_A-z0-9]{1,}$" %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.curp') %></label>
    <%= f.text_field :curp, required: true, class: 'form-control uppercase', pattern: curp_regex %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.rfc') %></label>
    <%= f.text_field :rfc, required: true, class: 'form-control uppercase', pattern: rfc_regex %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.gender') %></label>
    <%= f.select(:gender, options_for_select(gender_options), { include_blank: '', required: true }, { class: 'form-control' }) %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.birth_state') %></label>
    <%= f.text_field :birth_state, class: 'form-control', required: true%>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.phone_number') %></label>
    <%= f.telephone_field :phone_number, class: 'form-control', required: true %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('profiles.fields.email') %></label>
    <%= f.email_field :email, class: 'form-control', required: true %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
