<div class="row">
  <div class="col-12">
    <h2 class="bd-title"><%= t('profiles.messages.new') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-9 pull-md-3 bd-content">
    <%= render "form" %>
  </div>
</div>
