<div class="modal fade" tabindex="-1" role="dialog" id="session-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= t('session.messages.welcome') %></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="text-center">
            <%= link_to image_tag('facebook.png'), "/auth/facebook", id: "sign_in" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
