<%= form_for @requisition,  html: {'data-toggle' => "validator"} do |f| %>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.income') %></label>
    <%= f.number_field :income, required: true, class: 'form-control'%>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.address_years') %></label>
    <%= f.number_field :address_years, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.company_years') %></label>
    <%= f.number_field :company_years, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.marital_status') %></label>
    <%= f.select(:marital_status, (options_of_marital_status), { include_blank: '' }, { class: 'form-control' , required: true}) %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.requested_amount') %></label>
    <%= f.number_field :requested_amount, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.payment_terms') %></label>
    <%= f.text_field :payment_terms, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.bank') %></label>
    <%= f.text_field :bank, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.comment') %></label>
    <%= f.text_field :comment, required: true, class: 'form-control' %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.company_name') %></label>
    <%= f.text_field :company_name, class: 'form-control', required: true%>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.company_phone_number') %></label>
    <%= f.telephone_field :company_phone_number, class: 'form-control', required: true %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.dependents_number') %></label>
    <%= f.number_field :dependents_number, class: 'form-control', required: true %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.company_position') %></label>
    <%= f.text_field :company_position, class: 'form-control', required: true %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.has_sgmm') %></label>
    <%= f.select(:has_sgmm, (boolean_options), { include_blank: '' }, { class: 'form-control' , required: true }) %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.has_imss') %></label>
    <%= f.select(:has_imss, (boolean_options), { include_blank: ''}, { class: 'form-control' , required: true }) %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label class="control-label"><%= t('requisitions.fields.has_car') %></label>
    <%= f.select(:has_car, (boolean_options), { include_blank: '' }, { class: 'form-control', required: true }) %>
    <div class="help-block with-errors"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="bd-title"><%= t('personal_references.messages.title') %></h2>
    </div>
    <div class="col-md-2">
      <h3 data-bind="text: items().length+ ' de 3'"></h3>
    </div>
    <div class="col-md-4">
      </br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personal-references-modal"> <%= t('personal_references.messages.adds') %> </button>
    </div>
  </div>
  <div class="row">
    <div id="itemPersonalReferences" class="hidden">
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th><%= t('personal_references.fields.first_name') %></th>
        <th><%= t('personal_references.fields.second_name') %></th>
        <th><%= t('personal_references.fields.second_last_name') %></th>
        <th><%= t('personal_references.fields.cell_phone_number') %></th>
      </thead>
      <tbody data-bind="foreach: items">
        <tr>
          <td data-bind="text: first_name"></td>
          <td data-bind="text: second_name"></td>
          <td data-bind="text: first_last_name"></td>
          <td data-bind="text: second_last_name"></td>
          <td data-bind="text: cell_phone_number"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <%= f.submit "Create", class: "btn btn-primary", "data-bind" => "enable: items().length >= 3" %>
  </div>
<% end %>

<%= render partial: "personal_references/form" %>
