<div class="row">
  <div class="col-12">
    <h2 class="bd-title"><%= t('requisitions.messages.new_instructions') %></h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-9 pull-md-3 bd-content">
    <%= render "form" %>
  </div>
</div>
<% content_for :javascript_bottom do %>
  <script>
    $(document).ready(function(){
      var personal_references = <%= raw(@requisition.personal_references.to_json) %>
      ko.applyBindings(new viewModel(personal_references));
    });
  </script>
<% end %>

