<div class="row">
  <div class="col-md-4">
    <h3><%= welcome_message %></h3>
  </div>
  <div class="col-md-6">
    <h3>Solicitudes Elaboradas</h3>
  </div>
  <div class="col-md-2">
    </br>
    <div class="pull-right">
    <%= link_to t('requisitions.buttons.new'), new_requisition_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-bordered table-striped">
    <thead>
      <th><%= t('requisitions.fields_on_table.income') %></th>
      <th><%= t('requisitions.fields_on_table.address_years') %></th>
      <th><%= t('requisitions.fields_on_table.company_years') %></th>
      <th><%= t('requisitions.fields_on_table.marital_status') %></th>
      <th><%= t('requisitions.fields_on_table.requested_amount') %></th>
      <th><%= t('requisitions.fields_on_table.payment_terms') %></th>
      <th><%= t('requisitions.fields_on_table.bank') %></th>
      <th><%= t('requisitions.fields_on_table.comment') %></th>
      <th><%= t('requisitions.fields_on_table.company_name') %></th>
      <th><%= t('requisitions.fields_on_table.company_phone_number') %></th>
      <th><%= t('requisitions.fields_on_table.dependents_number') %></th>
      <th><%= t('requisitions.fields_on_table.company_position') %></th>
      <th><%= t('requisitions.fields_on_table.has_sgmm') %></th>
      <th><%= t('requisitions.fields_on_table.has_imss') %></th>
      <th><%= t('requisitions.fields_on_table.has_car') %></th>
      <th><%= t('requisitions.actions.action') %></th>

    </thead>
    <tbody>
      <% @requisitions.each do |requisition| %>
        <tr>
          <td><%= requisition.income %></td>
          <td><%= requisition.address_years %></td>
          <td><%= requisition.company_years %></td>
          <td><%= options_of_marital_status.index(requisition.marital_status) %></td>
          <td><%= requisition.requested_amount %></td>
          <td><%= requisition.payment_terms %></td>
          <td><%= requisition.bank %></td>
          <td><%= requisition.comment %></td>
          <td><%= requisition.company_name %></td>
          <td><%= requisition.company_phone_number %></td>
          <td><%= requisition.dependents_number %></td>
          <td><%= requisition.company_position %></td>
          <td><%= boolean_options.index(requisition.has_sgmm) %></td>
          <td><%= boolean_options.index(requisition.has_imss) %></td>
          <td><%= boolean_options.index(requisition.has_car) %></td>
          <td><%= link_to t('requisitions.actions.edit'), edit_requisition_path(requisition.id), class: 'btn btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
