<div class="modal fade" tabindex="-1" role="dialog" id="personal-references-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('personal_references.messages.title') %></h4>
      </div>
      <div class="modal-body">
        <%= form_tag('#') do %>
          <h3 id="form_errors"></h3>
          <div class="form-group">
            <label class="control-label"><%= t('personal_references.fields.first_name') %></label>
            <%= text_field :first_name, nil, class: 'form-control', 'data-bind' => 'value: first_name'%>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('personal_references.fields.second_name') %></label>
            <%= text_field :second_name, nil, class: 'form-control', 'data-bind' => 'value: second_name'%>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('personal_references.fields.first_last_name') %></label>
            <%= text_field :first_last_name, nil, class: 'form-control', 'data-bind' => 'value: first_last_name'%>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('personal_references.fields.second_last_name') %></label>
            <%= text_field :second_last_name, nil, class: 'form-control', 'data-bind' => 'value: second_last_name'%>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('personal_references.fields.cell_phone_number') %></label>
            <%= telephone_field :cell_phone_number, nil, class: 'form-control', 'data-bind' => 'value: cell_phone_number'%>
            <div class="help-block with-errors"></div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bind="click: addPersonalReference"><%= t('personal_references.messages.adds') %></button>
      </div>
    </div>
  </div>
</div>
</div>
