jQuery(function() {
  $('body').prepend('<div id="fb-root"></div>');
  $.ajax({
    url: window.location.protocol + "//connect.facebook.net/en_US/all.js",
    dataType: 'script',
    cache: true
  });
});

window.fbAsyncInit = function() {
  FB.init({
    appId: <%= ENV['facebook-id'] %>,
    cookie: true
  });

  $('#sign_in').click(function(e) {
    e.preventDefault();
    FB.login(function(response) {
      if (response.authResponse) {
        return window.location = '/auth/facebook/callback';
      }
    });
  });
};

$('#session-modal').modal({
    backdrop: 'static',
    keyboard: false
})
